<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h2>All Complaints (Admin Panel)</h2>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Complaint</th>
            <th>Category</th>
            <th>Solution</th>
        </tr>
        {% for c in complaints %}
        <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] }}</td>
            <td>{{ c[3] }}</td>
            <td>{{ c[4] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Go Back</a>
</body>
</html>
